<mat-progress-bar
  *ngIf="loading$ | async"
  mode="indeterminate"
  value="50"
  class="card-progress">
</mat-progress-bar>
<mat-card class="detail-card">
  <mat-card-header>
    <div mat-card-avatar class="avatar">
      <button *ngIf="submitting$ | async; else completedIcon" mat-icon-button disabled="true" class="spinning">
        <mat-icon svgIcon="loading" class="avatar-icon"></mat-icon>
      </button>
      <ng-template #completedIcon>
        <button mat-icon-button (click)="complete()">
          <mat-icon 
            class="avatar-icon"
            [svgIcon]="(ticket$ | async)?.completed ? 'checked-box' : 'un-checked-box'"
            color="primary">
          </mat-icon>
        </button>
      </ng-template>
    </div>
    <mat-card-title>Ticket Details</mat-card-title>
    <mat-card-subtitle *ngIf="ticket$ | async">ID: {{ (ticket$ | async).id }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="user$ | async">
      <strong>Assigned To: </strong>
      {{ (user$ | async).name }} 
      <button mat-icon-button color="primary" (click)="openAssigneeDialog()">
        <mat-icon svgIcon="edit"></mat-icon>
      </button>
    </p>
    <p *ngIf="!(user$ | async) && !(userLoading$ | async)">
      <strong>Currently Unassigned</strong>
      <button mat-icon-button color="primary" (click)="openAssigneeDialog()">
        <mat-icon svgIcon="edit"></mat-icon>
      </button>
    </p>
    <p *ngIf="ticket$ | async"><strong>Description: </strong> {{ (ticket$ | async).description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="ticket$ | async"
            mat-raised-button
            routerLink="/ticket-list">
      Back to Ticket List
    </button>
  </mat-card-actions>
</mat-card>
