<mat-progress-bar
  *ngIf="loading$ | async"
  mode="indeterminate"
  value="50"
  class="card-progress">
</mat-progress-bar>
<mat-card class="detail-card">
  <mat-card-header>
    <div mat-card-avatar class="avatar">
      <mat-progress-spinner 
        *ngIf="(submitting$ | async) || !(ticket$ | async); else completedIcon"
        mode="indeterminate"
        diameter="40">
      </mat-progress-spinner>
      <ng-template #completedIcon>
        <mat-icon class="avatar-icon" [svgIcon]="(ticket$ | async)?.completed ? 'checked-box' : 'un-checked-box'"></mat-icon>
      </ng-template>
    </div>
    <mat-card-title>Ticket Details</mat-card-title>
    <mat-card-subtitle *ngIf="ticket$ | async">ID: {{ (ticket$ | async).id }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="user$ | async">
      <strong>Assigned To: </strong>
      {{ (user$ | async).name }} 
      <button mat-icon-button color="primary" (click)="openAssigneeDialog()">
        <mat-icon svgIcon="edit"></mat-icon>
      </button>
    </p>
    <p *ngIf="!(user$ | async) && !(userLoading$ | async)">
      <strong>Currently Unassigned</strong>
      <button mat-icon-button color="primary" (click)="openAssigneeDialog()">
        <mat-icon svgIcon="edit"></mat-icon>
      </button>
    </p>
    <p *ngIf="ticket$ | async"><strong>Description: </strong> {{ (ticket$ | async).description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="ticket$ | async"
            mat-raised-button
            color="primary"
            class="complete-button"
            [disabled]="loading$ | async"
            (click)="complete()">
      Mark As {{ (ticket$ | async).completed ? 'Incomplete' : 'Complete' }}
    </button>
  </mat-card-actions>
</mat-card>
