<mat-progress-bar
  *ngIf="loading$ | async"
  mode="indeterminate"
  value="50"
  class="table-progress">
</mat-progress-bar>
<table mat-table [dataSource]="tableData$" class="mat-elevation-z8">
  <ng-container matColumnDef="completed">
    <th mat-header-cell *matHeaderCellDef>Complete</th>
    <td mat-cell *matCellDef="let row">
      <!-- <mat-progress-spinner 
        *ngIf="(submitting$ | async); else completedIcon"
        mode="indeterminate"
        class="spinner"
        diameter="24">
      </mat-progress-spinner>
      <ng-template #completedIcon> -->
        <button mat-icon-button (click)="toggleCompleted(row.id, row.completed)">
          <mat-icon [svgIcon]="row.completed ? 'checked-box' : 'un-checked-box'" color="primary"></mat-icon>
        </button>
      <!-- </ng-template> -->
    </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>
      id
    </th>
    <td mat-cell *matCellDef="let row">
      {{row.id}}
    </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>
      Description
    </th>
    <td mat-cell *matCellDef="let row">
      {{row.description}}
    </td>
  </ng-container>

  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef>
      Assignee
    </th>
    <td mat-cell *matCellDef="let row">
      {{row.user}}
      <button mat-icon-button color="primary" (click)="openAssigneeDialog(row.id)">
        <mat-icon svgIcon="edit"></mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="link">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button color="primary" [routerLink]="'/ticket-details/' + row.id">
        <mat-icon svgIcon="launch"></mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <td mat-footer-cell *matFooterCellDef colspan="5">
      <button mat-raised-button color="primary" (click)="openCreateTicketDialog()"> Create new Ticket </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>

  <tr mat-footer-row *matFooterRowDef="['actions']"></tr>

</table>
