/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green";

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #303030;
  color: white;
}

@keyframes spinning {
  0%  {transform: rotateZ(0)}
  100%  {transform: rotateZ(360deg)}
}

.spinning {
  animation-name: spinning;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}