<form (submit)="submit()">
  <h1 mat-dialog-title>Edit Assignee</h1>
  <div mat-dialog-content>
    <mat-form-field *ngIf="userForm">
      <mat-select placeholder="Assignee" [formControl]="userForm">
        <!-- <mat-option [value]="-1">-- Unassigned --</mat-option> API Doesn't allow for unassigning assigned ticket -->
        <mat-option *ngFor="let user of (userOptions$ | async)" [value]="user">{{ user.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary" [disabled]="!(canSubmit$ | async)">
      <span *ngIf="!(submitting$ | async); else spinning">Save</span>
      <ng-template #spinning>
        <mat-icon svgIcon="loading" class="spinning" color="warn"></mat-icon>
      </ng-template>
    </button>
    <button mat-raised-button type="button" (click)="cancel()" color="accent">Back</button>
  </div>
</form>
